@{
    // Use this to add Home to the 2nd half of the title on the browser tab
    ViewData["Title"] = "Home";
}

<!-- Header to welcome people -->
<h1 class="display-4">Welcome to Fank Football Club</h1>
<br />
<div style="display: flex; width: 100%">
    <!--Paragraph and picture side by side-->
    <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <p>
            Something that I think is really fun is soccer! I have been playing soccer since I was 3 years old, and I love
            having a ball at my feet. My favorite part of playing soccer is being able to build very strong brotherhoods
            with my teammates, although scoring goals is a close second. 5 of my 7 older siblings also played soccer, so 
            you could say it runs in the family. Currently, I play for the BYU Men's Soccer team and it is a blast!
        </p>
    </div>
    <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <img src="~/squad.jpg" height="300px" />
    </div>
</div>
<br />
<div style="display: flex; width: 100%">
    <!-- Picture and then paragraph side by side -->
    <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <img src="~/kick.jpg" height="300px" />
    </div>
    <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <p>
            Something that I think you should know is that soccer, when played right, is the best sport in the world. That's
            technically an opinion, so please do not dock me points for that. Seriously, I get chills at least once a week from
            watching soccer. It takes a lot of teamwork, dedication, knowledge, and skill to play the beautiful game in a beautiful
            way. I can train you, if you'd like! Head over to my pricing page to see how much it would cost!
        </p>
    </div>
</div>


