@{
    // Use this to add Home to the 2nd half of the title on the browser tab
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fank Football Club</h1>
    <p>
        I have been playing soccer since I was 3 years old. With 5 older brothers, 4 of which blessed with the same obsession
        for soccer as I have, soccer quickly became an important part of my life. Whether I'm' playing world cup with my 
        brothers in the backyard, or playing in a national championship game, I am determined to be the best I can be. Hard
        work pays off, as I am a 3-time NIRSA National Champion with the BYU Men's Soccer team.
    </p>
    <p>
        The beautiful game is for everyone. No matter where you feel your skills are at, I am dedicated to help you reach your
        potential, both on and off the field. I have entitled my training programming as Fank Football Club, drawing on the 
        honor and skills that my brothers have built for our family name. Feel free to visit my pricing page for a quote!
    </p>
</div>
