@{
    // Use this to add Pricing to the 2nd half of the title on the browser tab
    ViewData["Title"] = "Pricing";
}
@{
}

<h1 class="display-4">Personal Training Services Calculator</h1>
<br />

<!--Set up a form that when the submit function is clicked, will call a function in the site.js file-->
<div class="formdiv">
    <form>
        <!--Number of hours input from the user, the min is 0-->
        <label>Number of hours:</label>
        <input class="inputs" type="number" id="hours" min="0"/>
        <br />
        <br />
        <!--Hourly Rate input, which is set to 25 and readonly so it can't be changed by the user-->
        <label>Hourly Rate:</label>
        <input class="inputs" type="number" id="rate" value="25.00" readonly />
        <br />
        <br />
        <!--Button to submit-->
        <input type="button" id="submit" value="Calculate Total"/>
        <br />
        <br />
        <!--Add a total cost input that will be for the output, also readonly-->
        <label>Total Cost:</label>
        <input class="inputs" type="text" id="total" readonly />
    </form>
</div>
